---
import Layout from "../../layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/Frame.astro"
import {Content as SampleContent} from "../components/markdown/sample-content.md"
import AgeCheck from "@components/AgeCheck.astro";
import NewComponent from "@components/NewComponent.astro";
export const pageTitle = "JavaScript Testing";

---

<Layout title={pageTitle}>

  <AgeCheck birthYear="2003">
    
  </AgeCheck>

<NewComponent>
  <p>waow. button</p>
</NewComponent>

<NewComponent color="red">
  <p>waow. im red, hopefully</p>
</NewComponent>

  <button id="my-button">
    <p>elephant</p>
  </button>

  <button id="color-button">
    <p>mine cool button</p>
  </button>
<div class="text-block">
  this is text.. inside a div
</div>


</Layout>

<style>
  .text-block {
    border: 1px solid white;
    padding: 1rem;
    transition: all 0.5s;
  }

  .large-font {
    font-size: 4rem;
    transition: all 0.5s;
  }

</style>

<script>
const myButton = document.querySelector("#my-button");

const myFunction = function () {
  alert("address me");

};

myButton.addEventListener("click", myFunction);

</script>

<script>
  const colorButton = document.querySelector("#color-button");

  const myAction = function() {
    const myTextblock = document.querySelector(".text-block");
    myTextblock.classList.toggle("large-font")
  };

  colorButton.addEventListener('click', myAction);
</script>