---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/Frame.astro"
import {Content as SampleContent} from "../components/markdown/sample-content.md"
import AgeCheck from "@components/AgeCheck.astro";
import NewComponent from "@components/NewComponent.astro";
---

<Layout title="Home">
  <h1>Welcome!</h1>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>

  <AgeCheck birthYear="2003">
    
  </AgeCheck>

<NewComponent>
  <p>waow. button</p>
</NewComponent>

<NewComponent color="red">
  <p>waow. im red, hopefully</p>
</NewComponent>



<SampleContent />
  <Frame title="my bitchin' frame ">
    <p>my slut tag lel</p>
  </Frame>
  <Button href="/index.astro" title="you're already home idiot"></Button>

  <button class="theElephant">
    <p>elephant</p>
  </button>

</Layout>

<script>
const myButton = document.querySelector ("#theElephant");

const myFunction = function () {
  alert("address me");

};

myButton.addEventListener("click", myFunction);


</script>