---

const {title,href} = Astro.props;

---

<a class="btn-home" href={href}>{title}</a>

<style>
.btn-home {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    color: lightskyblue;
    border:2px solid blue;
    border-radius:.5rem;

}

a:hover {
    background-color: darkcyan;
    color:aliceblue;
}

</style>