---
const {color} = Astro.props;

let fgColor = "black";
let bgColor = "blue";

if (color === "red") {
    fgColor = "white"
    bgColor = "pink"
}

---

<button style= {`background-color:${bgColor}; color: ${fgColor}`}>
    <slot/>

</button>