---
const {color} = Astro.props;

let fgColor = "black";
let bgColor = "blue";

if (color === "red") {
    fgColor = "white"
    bgColor = "pink"
}

---

<button class="testbutton" style= {`background-color:${bgColor}; color: ${fgColor}`}>
    <slot/>

</button>

<style>
    
.testbutton {
    padding: 1rem;
    border-radius: 5%;
}

</style>